.cardContainer {
  height: 250px;
  width: 250px;
  background-color: aliceblue;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  padding: 30px;
  color: #064c96;
  i {
    margin-bottom: 10px;
  }
}

.cardContainer:hover {
  background-color: rgb(216, 236, 255);
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 22px -2px,
    rgba(0, 0, 0, 0.3) 5px 10px 7px -3px;
}
